
body {
  background-color: rgb(18, 20, 21);
  color: lime;
}

footer {
  padding: 1rem 3rem;
}

figure {
  width: 42%;
  float: right;
  margin: 0 16px;
  figcaption {
    font-style: italic;
  }
  img {
    max-width: 100%;
  }
}

#content {
  main {
    background-color: rgb(24, 26, 27);
    margin: 3% 10%;
    padding: 3%;
    article {
      max-width: 90%;
    }
  }
  a:hover .heading {
    text-decoration: underline;
    color: cyan;
  }
  a {
    min-height: 48px;
    min-width: 48px;
    text-decoration: none;
    color: cyan;
  }
  a article {
    color: lime;
  }
}

ul.contents {
  .heading {
    font-size: 2rem;
    margin: 0;
  }
  list-style-image: url(data:0);
  list-style-type: none;
  padding: 0;
}

#navbar {
  background-color: #222;
  ul {
    li#right {
      float: right;
    }
    li {
      a:hover {
        background-color: #333;
      }
      display: inline;
      float: left;
    }
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    display: block;
    color: lime;
  }
}

#lang-menu {
  ul {
    background-color: #222;
    position: absolute;
    display: none;
    z-index: 1;
  }
  a {
    display: block;
  }
}
#lang-menu:hover ul {
  display: block;
}

.block p {
  margin: 0;
}
