<nav id='navbar'>
  <ul class='top-nav'>
    <li><a href='/{{ if ne .Language.Lang "en" }}{{ .Language.Lang }}{{ end }}'>{{ site.Title }}</a></li>
    {{ if gt (len .AllTranslations) 1 }}
    {{ partial "i18n/nav.html" . }}
    {{ end }}
    {{ $currentPage := . }}
    {{ range .Site.Menus.left }}
    {{ partial "menu" . }}
    {{ end }}
    <li id='right'>
      <ul>
      {{ range .Site.Menus.main }}
      {{ partial "menu" . }}
      {{ end }}
      <!-- <li class='top-nav'><a href='#'>
          <img class='icons' src='/search-icon.svg'>
        </a>
      </li> -->
      </ul>
    </li>
  </ul>
</nav>