<nav id='navbar'>
  <ul class='top-nav'>
    <li><a href='/{{ .Language.Lang }}'>{{ site.Title }}</a></li>
    {{ partial "i18n/nav.html" . }}
    <div class='link-group'>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class='{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'>
        <a href='#'>{{ .Pre }}<span>{{ .Name }}</span></a>
      </li>
      <ul class='sub-menu'>
        {{ range .Children }}
        <li class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
          <a href='{{ .URL }}'>{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      {{ else }}
      <li>
        <a href='{{ .URL }}'>
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
      {{ end }}
    {{ end }}
      <!-- <li class='top-nav'><a href='#'>
          <img class='icons' src='/search-icon.svg'>
        </a>
      </li> -->
    </div>
  </ul>
</nav>