<aside id='meta'>
  <header>
    <h4>{{ or (.Param "tit") .Title }}</h4>
    <p>
      {{ i18n "wordCount" .WordCount }}.
      {{ i18n "readingTime" .ReadingTime }}.
    </p>
  </header>
  {{ if .Param "docs" }}
  <h5>Documentation:</h5>
  <ul>
  {{ range .Param "docs" }}
  <li><a href='{{ .url }}' target='_blank'>{{ .name }}</a></li>
  {{ end }}</ul>{{ end }}
  {{ with .Param "git" }}
    <p>Check out the git repo; <a href='{{ .url }}'>{{ .name }}</a>!</p>
  {{ end }}
  {{ $toc := .TableOfContents }}
  {{ if ne $toc "<nav id=\"TableOfContents\"></nav>" }}
    <h6>Table of Contents:</h6>
    {{ $toc }}
  {{ end }}
  {{ partial "i18n/list.html" . }}
  {{ if and (ne (len .Pages) 0) $.IsNode }}
  <h5>Posts:</h5>
  <ul>
  {{ range .Pages }}
    <li><a href='{{ .RelPermalink }}' target='_top'>{{ .Title }}</a></li>
  {{ end }}
  </ul>
  {{ end }}
</aside>