
#content {
    margin: 2vh;
}

.top {
    margin-top: 9vh;
}

.middle {
    margin-left: 13vw;
    margin-right: 42.0vw;
}

#status {
    margin-top: 1vh;
}

#form > div > * {
    margin-bottom: 1vh;
}

#form > div > label {
    margin-bottom: 0.33vh;
}

